body{
background: #D0D0BE;
}


/*                  HEADER                */




.logo{
    position: absolute; 
    margin:0px auto; 
/*    padding:  20px auto;*/
    width: 100%;
    text-align:center;
}


.main_stage{
    width: 100%;
    margin: 0;
    padding: 0;
}

header div{
    display: block;
}



/*      INFO         */
.info{
    height: 80%;
    width: 65%;
}

.name{
    margin: 50px 50px;
    font-size: 120px;
    color: #ff9900;
    position: absolute;
    bottom: 20px;
    top: 10%;
    transform: translateX(10%);
    display: flex;
    
}

.slogan{
    margin: 50px 50px;
    font-size: 30px;
    color: black;
    position: absolute;
    bottom: 20px;
    top: 25%;
    transform: translateX(25%);
    display: flex;
}

.spusok{
    font-family: monospace;
    font-size: 20px;
    
}



