.info {/* Стилі до заголовку */  
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
}

.main {/*  */
  display: flex;
  flex-direction: column;
}

.header {/* Стилі до головного меню */
  width: 99vw;
  height: 5vh;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttons {/* Стилі до кнопок у головному меню */
  display: flex;
}

button {/* Стилі до кнопок */
  border-radius: 15px;
  margin: 2px;
  height: 4vh;
  width: 5.2vw;
  background-color: blue;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button:hover{/*При наведені */
  background-color: yellow;
}

.left_block {/*Стилі до колонки зліва*/
  margin: 20px;
  width: 15vw;
  height: 78vh;
}

.dropbtn {/*Стилі до кнопок у колонці зліва*/
  height: 10vh;
  width: 15.5vw;
  background-color: rgba(255, 255, 1, 0.918);
  color: black;
  margin: 6px;
  font-size: 16px;
  border: none;
  
}
.dropbtn:hover{/*При наведені*/
  background-color: blue
}

.dropdown {/*Стилі до кнопок зліва*/
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropdown-content .position_in_menu {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content .position_in_menu:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.stage {
  display: flex;
}

.central_block {
  margin: 20px;
  width: fit-content;
  height: fit-content;
}

.central_block {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.25px;
  border: 1px solid black;
}

a {
  text-decoration: none;
}
